<extend name="Public/base"/>

<block name="body">
    <div class="main-title">
        <h2>修改门店信息</h2>
    </div>
    <form action="{:U()}" method="post" class="form-horizontal">
        <div class="form-item">
            <label class="item-label">门店名称</label>
            <div class="controls">
                <input type="text" class="text input-large" name="name" value="{$data.name}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">门店地址</label>
            <div class="controls">
                <select class="select" name="district_id">
                	
                	<option value="100">华东</option>
                </select>
                <select class="select" name="city_id">
                	<option value="200">北京</option>
                </select>
                <select class="select" name="store_id">
                	 <option value="300">通州</option>
                </select>
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">联系人</label>
            <div class="controls">
                <input type="text" class="text input-large" name="contact" value="{$data.contact}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">联系人电话</label>
            <div class="controls">
                <input type="text" class="text input-large" name="contact_number" value="{$data.contact_number}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">备注</label>
            <div class="controls">
                <textarea class="textarea input-large" name="remark">{$data.remark}</textarea>
            </div>
        </div>
        <div class="form-item">
        	<input type="hidden" name="id" value="{$data.id|default=''}">
            <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
</block>

<block name="script">
<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
<script type="text/javascript" charset="utf-8">
	Think.setValue('type',{$type|default=1});
    //导航高亮
    highlight_subnav('{:U('Store/index')}');
</script>
</block>
